<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="Log4NetDemo.Configration.Log4NetConfigurationSectionHandler"/>
	</configSections>

	<log4net>
		<appender name="ConsoleAppender" type="Log4NetDemo.Appender.ConsoleAppender">
			<layout name="PatternLayout" type="Log4NetDemo.Layout.PatternLayout">
				<ConversionPattern>%data-[%level]-%message%newline</ConversionPattern>
			</layout>
			<Threshold>Error</Threshold>
		</appender>
		<appender name="FileAppender" type="Log4NetDemo.Appender.FileAppender">
			<layout name="PatternLayout" type="Log4NetDemo.Layout.PatternLayout">
				<ConversionPattern >%data-[%level]-%message%newline</ConversionPattern>
			</layout>
			<Threshold>ALL</Threshold>
			<AppendToFile>true</AppendToFile>
			<File>appfilelog.log</File>
		</appender>
		<appender name="RollingFileAppender" type="Log4NetDemo.Appender.RollingFileAppender">
			<layout name="PatternLayout" type="Log4NetDemo.Layout.PatternLayout">
				<ConversionPattern >%data-[%level]-%message%newline</ConversionPattern>
			</layout>
			<Threshold>ALL</Threshold>
			<AppendToFile>true</AppendToFile>
			<File>approllingfilelog.log</File>
			<MaximumFileSize>200KB</MaximumFileSize>
			<MaxSizeRollBackups>5</MaxSizeRollBackups>
		</appender>

		<root>
			<appender-ref ref="ConsoleAppender"></appender-ref>
			<appender-ref ref="FileAppender"></appender-ref>
			<appender-ref ref="RollingFileAppender"></appender-ref>
		</root>
	</log4net>
</configuration>